:root {
    --button-text-color: #FFFFFF;
    --button-color: #0099FF;
    --context-menu-background: #333333;
    --context-menu-text-color: #EEEEEE;
    --border-color: #333333;
    --info-color: #9bec9b;
    --error-color: #eea5be;
}

.hidden {
    display: none !important;
}

#canvas-container--div.full-screen {
    height: 100vh ;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#canvas-container--div.full-screen::backdrop {
    background-color: #333333;
}

.fun-with-logic-gates--canvas {
    flex: 0 0 auto ;
    border:1px solid black;
    max-width: 99%;
    max-height: 100vh;
    cursor: grab;
    user-select: none;
}

.fun-with-logic-gates--canvas.main-menu {
    cursor: default ;
}

#canvas-container--div.full-screen .fun-with-logic-gates--canvas {
    max-height: 75vh;
    margin-bottom: 25vh;
    max-width: 99%;
    margin-right: unset;
}

#canvas-container--div.full-screen .fun-with-logic-gates--canvas.nav-right-side {
    max-height: 100vh;
    margin-bottom: unset;
    max-width: 85vw;
    margin-right: 15vw;
}

#context-menu {
    position: absolute;
    padding: 5px;
    background-color: var(--context-menu-background);
    border: 2px solid black ;
    border-radius: 5px;
    user-select: none;
}

#context-menu.touch-menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 5vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
    z-index: 1001;
    overflow-y: auto ;
}

#context-menu li {
    list-style: none;
}

#context-menu.touch-menu li {
    display: flex;
    flex: 1 1 50%;
}

#context-menu li button {
    padding: 10px;
    color: var(--context-menu-text-color);
    background-color: var(--context-menu-background);
    font-family: sans-serif;
    border: none ;
    border-bottom: 1px solid var(--context-menu-text-color);
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#context-menu.touch-menu li button {
    width: 100%;
    flex: 1 1 auto;
    border: 1px solid var(--context-menu-text-color);
    margin: -1px 0 0 -1px;
    min-height: 65px;
}

#context-menu li button:hover {
    color: var(--context-menu-background);
    background-color: var(--context-menu-text-color);
}

#canvas-mask--div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.65;
    z-index: 1000;
}

#look-up-table--div,
#load-state--div,
#save-state--div,
#save-component--div,
#io-rename--div {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30vh;
    bottom: 30vh;
    left: 30vw;
    right: 30vw;
    border: 1px solid black;
    background: white;
    padding: 15px;
    z-index: 1001;
}

#look-up-table--div {
    top: 10vh;
    bottom: 10vh;
}

#look-up-table--div .look-up-table-close--span,
#load-state--div .load-state-close--span,
#save-state--div .save-state-close--span,
#save-component--div .save-component-close--span,
#io-rename--div .io-rename-close--span {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

#save-state--div div,
#save-component--div div,
#io-rename--div div {
    display: block;
    margin: auto;
}

#fun-with-logic-gates--nav {
    max-width:100%;
    border: 1px solid var(--border-color);
    padding: 5px 5px 0;
    margin: 0 5px;
    user-select: none;
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav {
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    max-width: unset !important;
    margin: 0 -8px;
    padding: 25px 0 0;
    border: none;
    background: linear-gradient(0deg, #888, transparent);
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side {
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh !important;
    width: 15vw !important;
    background: linear-gradient(270deg, #888, transparent);
    text-align: center;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side > * {
    max-height: 50vh;
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side #other-controls--div,
#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side #components--div {
    white-space: normal;
    overflow-x: hidden;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--border-color);
}

#load-state--div .load-state--button,
#look-up-table--div #look-up-table--button,
#save-state--div #save-state--button,
#save-component--div #save-component--button,
#io-rename--div #io-rename--button,
.toast-message--span button,
#truth-table-close--button,
#look-up-table--div .look-up-table--input,
#look-up-table--div .look-up-table--select,
#save-state--div #save-state--input,
#save-component--div #save-component--input,
#io-rename--div #io-rename--input,
#fun-with-logic-gates--nav input[type="text"],
#fun-with-logic-gates--nav button {
    padding: 10px;
    border: 1px solid var(--button-color) ;
    background-color: var(--button-color) ;
    color: var(--button-text-color);
    cursor: pointer ;
    margin: 0 5px 5px 0;
}

#load-state--div .load-state--error-span,
#load-state--div .load-state--button {
    width: 100% ;
    font: 16px monospace;
}

#load-state--div .load-state--error-span {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#look-up-table--div .look-up-table--input::placeholder,
#save-state--div #save-state--input::placeholder,
#save-component--div #save-component--input::placeholder,
#io-rename--div #io-rename--input::placeholder,
#fun-with-logic-gates--nav input[type="text"]::placeholder {
    color: var(--button-text-color) ;
}

#look-up-table--div .look-up-table--input,
#save-state--div #save-state--input,
#save-component--div #save-component--input,
#io-rename--div #io-rename--input,
#fun-with-logic-gates--nav input[type="text"] {
    width:80px;
    cursor: text;
}

#look-up-table--div .look-up-table--input {
    width: 75px;
}

#save-state--div #save-state--input,
#save-component--div #save-component--input {
    width: 200px;
}

#fun-with-logic-gates--nav {
    background: white;
}

#fun-with-logic-gates--nav #other-controls--div,
#fun-with-logic-gates--nav #components--div {
    white-space: nowrap;
    overflow-y: auto;
    margin-bottom: 5px;
}

@supports (-webkit-appearance:none) {
    #fun-with-logic-gates--nav #other-controls--div::-webkit-scrollbar,
    #fun-with-logic-gates--nav #components--div::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    #fun-with-logic-gates--nav #other-controls--div::-webkit-scrollbar-track,
    #fun-with-logic-gates--nav #components--div::-webkit-scrollbar-track {
        background: white;
    }

    #fun-with-logic-gates--nav #other-controls--div::-webkit-scrollbar-thumb,
    #fun-with-logic-gates--nav #components--div::-webkit-scrollbar-thumb {
        background: black;
    }

    #fun-with-logic-gates--nav #other-controls--div::-webkit-scrollbar-thumb:hover,
    #fun-with-logic-gates--nav #components--div::-webkit-scrollbar-thumb:hover {
        background: gray;
    }
}

#fun-with-logic-gates--nav input[type="color"] {
    margin: -25px 5px 0 0;
    cursor: pointer ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    translate: 0 10px;
}

#fun-with-logic-gates--nav input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

#fun-with-logic-gates--nav input[type="color"]::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

#load-state--div .load-state--button:hover,
#save-state--div #save-state--button:hover,
#io-rename--div #io-rename--button:hover,
.toast-message--span button:hover,
#truth-table-close--button:hover,
#io-rename--div #io-rename--input:hover,
#fun-with-logic-gates--nav input[type="text"]:hover,
#fun-with-logic-gates--nav button:hover {
    background-color: var(--button-text-color) ;
    color: var(--button-color);
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side #components--div input[type="color"] {
    cursor: pointer ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: auto;
    border: none;
    translate: 0 10px;
    margin: -5px 0 22px -5px;
    padding: 0 2px 0 0;
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side #components--div input[type="color"]::-webkit-color-swatch {
    border-radius: 0;
    border: 2px solid var(--border-color);
    height: 40px;
    margin: 0;
    padding: 0;
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side #components--div input[type="color"]::-moz-color-swatch {
    border-radius: 0;
    border: 2px solid var(--border-color);
    height: 40px;
    margin: 0;
    padding: 0;
}

#canvas-container--div.full-screen #fun-with-logic-gates--nav.right-side input[type="text"] {
    width: unset ;
}

#truth-table--div {
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    z-index: 1001;
}

#load-state--div > div,
#look-up-table--div > div {
    display: block;
    margin: auto;
    width:90%;
    height:100%;
}

#look-up-table--div #look-up-table-scroll--div,
#truth-table--div .truth-table-scroll--div {
    height: 84%;
    overflow: auto;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#load-state--div #load-state-scroll--div {
    height: 100%;
    width: 100% ;
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#look-up-table--div table,
#truth-table--div table {
    border-collapse: collapse;
    margin: 5px auto;
}

#look-up-table--div th,
#look-up-table--div td,
#truth-table--div .truth-table-in--th,
#truth-table--div .truth-table-out--th,
#truth-table--div .truth-table-in--td,
#truth-table--div .truth-table-out--td {
    border: 1px solid black;
    padding: 5px ;
}

#look-up-table--div td[contenteditable="true"],
#truth-table--div .truth-table-in--th,
#truth-table--div .truth-table-in--td {
    background-color: white;
}

#look-up-table--div th,
#look-up-table--div td,
#truth-table--div .truth-table-out--th,
#truth-table--div .truth-table-out--td {
    background-color: lightgray;
}

#truth-table--div #truth-table-close--button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* ToastMessage */
@-moz-keyframes fadein {
    0%   { opacity: 0; }
    25%  { opacity: 0.75; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    25%  { opacity: 0.75; }
    100% { opacity: 1; }
}

@-ms-keyframes fadein {
    0%   { opacity: 0; }
    25%  { opacity: 0.75; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0%   { opacity: 0; }
    25%  { opacity: 0.75; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.toast-message--span {
    font-size: 18px;
    position: fixed;
    top: 25px;
    background-color: var(--info-color);
    border-radius: 10px;
    left: 25vw;
    right: 25vw;
    display: flex;
    align-items: center;
    padding: 10px 60px 10px 0;
    z-index: 9999999999999999999999999;
    -webkit-animation: fadein 400ms;
    -moz-animation: fadein 400ms;
    -o-animation: fadein 400ms;
    animation: fadein 400ms;
}

.toast-message--span.toast-confirm {
    padding: 10px 120px 10px 0;
}

.toast-message--span.removing-toast {
    -webkit-animation: fadeout 400ms;
    -moz-animation: fadeout 400ms;
    -o-animation: fadeout 400ms;
    animation: fadeout 400ms;
}

.toast-message--span.toast-message--error {
    background-color: var(--error-color) ;
}

.toast-message--span:before {
    content: "\02139" ;
    font-size: 24px;
    padding: 0 17px 0 20px;
}

.toast-message--span.toast-message--error:before {
    padding: 0 10px 0 13px;
    content: "\26A0" ;
}

.toast-message-close--span {
    position: absolute;
    right: 15px;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 950px) {
    .toast-message--span {
        left: 2vw;
        right: 2vw;
    }

    #truth-table--div,
    #look-up-table--div,
    #save-state--div,
    #load-state--div,
    #save-component--div,
    #io-rename--div {
        top: 10vh;
        bottom: 10vh;
        left: 10vw;
        right: 10vw;
    }
}

@media (max-width: 500px) {
    #context-menu.touch-menu {
        flex-wrap: wrap;
    }

    #context-menu.touch-menu li {
        flex: 1 1 100%;
    }

    #context-menu.touch-menu li button {
        border-bottom: 1px solid var(--context-menu-text-color);
    }
}

